body, html{
  height:100%;
}
body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background:#111 url(img/disco_ball.png) no-repeat top center;
  font-size: 16px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title, .topbar a {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:50px;
  background-color: #555;
  box-shadow: 2px 3px 2px #AAA;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  background-color:red;
  border-radius:100%;
  position:absolute;
}

.imageDancer {
  width:50px;
  height:50px;
  display:block;
  position: absolute;
  border-radius: 100%;
  background: url(img/cat.jpeg);
  background-size: 100%;

}